@charset "utf-8";
$razzurenbackoffice-container-background: var(--bo-base-background);
$razzurenbackoffice-container-font-family: var(--bo-font-family);
$razzurenbackoffice-label-text-color: var(--bo-text-color);
